examples/IRIS_example.json
[
    {
        "id": "582962ff6e21c7a7",
        "type": "tab",
        "label": "IRIS Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "585e042552a6e8cc",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "4a4dc7d911fe7849"
            ]
        ]
    },
    {
        "id": "4a4dc7d911fe7849",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make create Structure",
        "func": "msg.data = {\n    \"package\": \"NodeRed\",\n    \"className\": \"Person\",\n    \"superclasses\": \"%Persistent\",\n    \"properties\":[\n        {\n            \"name\": \"firstName\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"lastName\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"age\",\n            \"type\": \"int\"\n        }\n        ,\n        {\n            \"name\": \"isAlive\",\n            \"type\": \"boolean\"\n        }\n    ],\n    \"methods\":[\n        {\n            \"name\":\"sayHello\",\n            \"classMethod\": true,\n            \"returnType\": \"%String\",\n            \"body\": \"return \\\"Hello!\\\"\"\n        }\n        ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "ef913324c0e24797"
            ]
        ]
    },
    {
        "id": "5c2234a614663d66",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ceba0ab8fb1c435",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "4652b49c70cfb52f"
            ],
            [
                "5c2234a614663d66"
            ]
        ]
    },
    {
        "id": "26d3a656d607e3e3",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "85ca896fe13c7941"
            ]
        ]
    },
    {
        "id": "85ca896fe13c7941",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make Insert Statement",
        "func": "msg.data = \"INSERT INTO NodeRed.Person (firstName, lastName, age, isAlive) VALUES ('Stan', 'Marsch', 10, true)\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "b037d7be8fad51c5"
            ]
        ]
    },
    {
        "id": "d91793971b292b7c",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "45394288c5a9a9bc",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "3fe6b3901bb497c1",
                "4fbac76e11413468"
            ],
            [
                "d91793971b292b7c"
            ]
        ]
    },
    {
        "id": "864d207e1ab4341e",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [
            {
                "p": "data",
                "v": "{\"package\":\"NodeRed\",\"className\":\"Person\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "9ffcf6eb056b0e76"
            ]
        ]
    },
    {
        "id": "3fe6b3901bb497c1",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "4652b49c70cfb52f",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "02abbcaaa4347c91",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "af4786961e3f59bd"
            ]
        ]
    },
    {
        "id": "af4786961e3f59bd",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make Insert Statement",
        "func": "msg.data = {\n    \"sql\":\"INSERT INTO NodeRed.Person (firstName, lastName, age, isAlive) VALUES (?,?,?,?)\",\n    \"values\":[\n        [\"Kyle\", \"Broflovski\", 10, true],\n        [\"Kenny\", \"McCormick\", 10, true]\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 540,
        "wires": [
            [
                "8432a2b6bce8cbf6"
            ]
        ]
    },
    {
        "id": "c7bfa60595e32bfe",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "c8178598c8bf558d",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "26dc976bc11e1c46",
                "7a6ac3a303a31b89"
            ],
            [
                "c7bfa60595e32bfe"
            ]
        ]
    },
    {
        "id": "26dc976bc11e1c46",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "c174aab70a196331",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Insert Statement",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "a20e64dad022aa43",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "parameterized Insert Statement",
        "info": "",
        "x": 190,
        "y": 500,
        "wires": []
    },
    {
        "id": "8e7fd6a032896bc2",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Create Class",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "6a3964b293f582b0",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Delete Class",
        "info": "",
        "x": 130,
        "y": 1060,
        "wires": []
    },
    {
        "id": "079901b565b2c643",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0dd7411e5e24dd43",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1100,
        "wires": [
            [
                "ad3fdebf71c77ccb"
            ],
            [
                "079901b565b2c643"
            ]
        ]
    },
    {
        "id": "ad3fdebf71c77ccb",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f6870bcd0868da22",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "c49c41f792fe867a"
            ]
        ]
    },
    {
        "id": "c49c41f792fe867a",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make JSON-Object",
        "func": "msg.data = {\n    \"className\":\"NodeRed.Person\",\n    \"firstName\":\"Eric\",\n    \"lastName\":\"Cartman\",\n    \"age\":10,\n    \"isAlive\":true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "dab1d40128510bf9"
            ]
        ]
    },
    {
        "id": "7909fd5d70fe49c3",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "dc54df35d03be7bb",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "e18b2ca6a7a25c63",
                "006a3016c7c34d17"
            ],
            [
                "7909fd5d70fe49c3"
            ]
        ]
    },
    {
        "id": "e18b2ca6a7a25c63",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "03275cde1e51f37f",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "data",
                "v": "delete from NodeRed.Person",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "35e288ac9aa0fd13"
            ]
        ]
    },
    {
        "id": "ea73d3287448eb44",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 980,
        "wires": []
    },
    {
        "id": "5afec92a1aeaa9e2",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "f544ed5dd3d9b6fd",
                "d97995e153472dc3"
            ],
            [
                "ea73d3287448eb44"
            ]
        ]
    },
    {
        "id": "f544ed5dd3d9b6fd",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "acd59f6c3a7aac3b",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "insert JSON-Object",
        "info": "",
        "x": 150,
        "y": 640,
        "wires": []
    },
    {
        "id": "2d58432c54d2aa2a",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "2dabbf7ad1d86834"
            ]
        ]
    },
    {
        "id": "2dabbf7ad1d86834",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make Update Statement",
        "func": "msg.data = \"UPDATE NodeRed.Person SET isAlive = 0 WHERE firstName = 'Kenny'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 820,
        "wires": [
            [
                "d141040f9eead5e8"
            ]
        ]
    },
    {
        "id": "af60032eb279f679",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "2ba121aae06eb0a6",
        "type": "switch",
        "z": "582962ff6e21c7a7",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 820,
        "wires": [
            [
                "939447562a46f093",
                "8816fddf52e448d0"
            ],
            [
                "af60032eb279f679"
            ]
        ]
    },
    {
        "id": "939447562a46f093",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "a569b7ee0d168381",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Update Statement",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "f4d2a4677ce8e8f3",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "a87b771c6bc55ec3"
            ]
        ]
    },
    {
        "id": "a87b771c6bc55ec3",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make Select Statement",
        "func": "msg.data = \"SELECT firstName, lastName, age, isAlive FROM NodeRed.Person WHERE age = 10\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "559c18ccffc463c8"
            ]
        ]
    },
    {
        "id": "f4defe02b3684beb",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Select Statement",
        "info": "",
        "x": 140,
        "y": 1280,
        "wires": []
    },
    {
        "id": "45bcc9f6888b1a57",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1320,
        "wires": []
    },
    {
        "id": "35e288ac9aa0fd13",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "make Delete Statement",
        "func": "msg.data = \"DELETE FROM NodeRed.Person WHERE isAlive = 0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 960,
        "wires": [
            [
                "0f47a1ca90a3223c"
            ]
        ]
    },
    {
        "id": "4ded7a79e92ce371",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Delete Statement",
        "info": "",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "d82432cd0168c4c5",
        "type": "comment",
        "z": "582962ff6e21c7a7",
        "name": "Short example on how to create/delete Data/Classes in IRIS via Node-Red",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "73b2bbdfc024c2af",
        "type": "link in",
        "z": "582962ff6e21c7a7",
        "name": "Show Result IN",
        "links": [
            "4fbac76e11413468",
            "7a6ac3a303a31b89",
            "006a3016c7c34d17",
            "8816fddf52e448d0",
            "d97995e153472dc3"
        ],
        "x": 145,
        "y": 1360,
        "wires": [
            [
                "a87b771c6bc55ec3"
            ]
        ]
    },
    {
        "id": "4fbac76e11413468",
        "type": "link out",
        "z": "582962ff6e21c7a7",
        "name": "",
        "mode": "link",
        "links": [
            "73b2bbdfc024c2af"
        ],
        "x": 825,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a6ac3a303a31b89",
        "type": "link out",
        "z": "582962ff6e21c7a7",
        "name": "",
        "mode": "link",
        "links": [
            "73b2bbdfc024c2af"
        ],
        "x": 815,
        "y": 480,
        "wires": []
    },
    {
        "id": "006a3016c7c34d17",
        "type": "link out",
        "z": "582962ff6e21c7a7",
        "name": "",
        "mode": "link",
        "links": [
            "73b2bbdfc024c2af"
        ],
        "x": 815,
        "y": 620,
        "wires": []
    },
    {
        "id": "8816fddf52e448d0",
        "type": "link out",
        "z": "582962ff6e21c7a7",
        "name": "",
        "mode": "link",
        "links": [
            "73b2bbdfc024c2af"
        ],
        "x": 815,
        "y": 760,
        "wires": []
    },
    {
        "id": "d97995e153472dc3",
        "type": "link out",
        "z": "582962ff6e21c7a7",
        "name": "",
        "mode": "link",
        "links": [
            "73b2bbdfc024c2af"
        ],
        "x": 815,
        "y": 900,
        "wires": []
    },
    {
        "id": "9ffcf6eb056b0e76",
        "type": "sf:node-red-iris-IRIS-DELETE-CLASS",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "Check Connection": true,
        "x": 510,
        "y": 1100,
        "wires": [
            [
                "0dd7411e5e24dd43"
            ]
        ]
    },
    {
        "id": "559c18ccffc463c8",
        "type": "sf:node-red-iris-IRIS",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "45bcc9f6888b1a57"
            ]
        ]
    },
    {
        "id": "0f47a1ca90a3223c",
        "type": "sf:node-red-iris-IRIS",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "5afec92a1aeaa9e2"
            ]
        ]
    },
    {
        "id": "d141040f9eead5e8",
        "type": "sf:node-red-iris-IRIS",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "2ba121aae06eb0a6"
            ]
        ]
    },
    {
        "id": "dab1d40128510bf9",
        "type": "sf:node-red-iris-IRIS-OO",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "dc54df35d03be7bb"
            ]
        ]
    },
    {
        "id": "8432a2b6bce8cbf6",
        "type": "sf:node-red-iris-IRIS-INSERT",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "Create Class": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "c8178598c8bf558d"
            ]
        ]
    },
    {
        "id": "b037d7be8fad51c5",
        "type": "sf:node-red-iris-IRIS",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "45394288c5a9a9bc"
            ]
        ]
    },
    {
        "id": "ef913324c0e24797",
        "type": "sf:node-red-iris-IRIS-CREATE",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "Check Connection": true,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "3ceba0ab8fb1c435"
            ]
        ]
    },
    {
        "id": "8b2d0c29ab414a90",
        "type": "inject",
        "z": "582962ff6e21c7a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e0229e16b25472fe"
            ]
        ]
    },
    {
        "id": "e0229e16b25472fe",
        "type": "function",
        "z": "582962ff6e21c7a7",
        "name": "call sayHello",
        "func": "msg.data = {\n    \"className\": \"NodeRed.Person\",\n    \"method\":\"sayHello\",\n    \"parameters\":[]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "d83c736533bd064b"
            ]
        ]
    },
    {
        "id": "6d3e1eb949d83242",
        "type": "debug",
        "z": "582962ff6e21c7a7",
        "name": "show Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "d83c736533bd064b",
        "type": "IRIS_CALL",
        "z": "582962ff6e21c7a7",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "User",
        "Username": "username",
        "Password": "password",
        "Check Connection": true,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "6d3e1eb949d83242"
            ]
        ]
    }
]