examples/IRIS_example.json
[
    {
        "id": "5c8dac7018c232ae",
        "type": "tab",
        "label": "IRIS Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "129db924527cac18",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "5abfc97529bd71e4"
            ]
        ]
    },
    {
        "id": "5abfc97529bd71e4",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make create Structure",
        "func": "msg .data = {\n    \"package\": \"NodeRed\",\n    \"className\": \"Person\",\n    \"properties\":[\n        {\n            \"name\": \"firstName\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"lastName\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"age\",\n            \"type\": \"int\"\n        }\n        ,\n        {\n            \"name\": \"isAlive\",\n            \"type\": \"boolean\"\n        }\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "91acd2a9be6f9665"
            ]
        ]
    },
    {
        "id": "b3c6fab954268f37",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "d2051fc5d56f8df3",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "814d90fcba6b4806"
            ],
            [
                "b3c6fab954268f37"
            ]
        ]
    },
    {
        "id": "99bd77bd5d8ba36f",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "cc3d362a655c7d3e"
            ]
        ]
    },
    {
        "id": "cc3d362a655c7d3e",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make Insert Statement",
        "func": "msg.data = \"INSERT INTO NodeRed.Person (firstName, lastName, age, isAlive) VALUES ('Stan', 'Marsch', 10, true)\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6ed2281b9fecf4b7"
            ]
        ]
    },
    {
        "id": "757ae73b607250c7",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "91b9b8860533f999",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "743ee51225cea3f9",
                "2ca3aaf94f91765b"
            ],
            [
                "757ae73b607250c7"
            ]
        ]
    },
    {
        "id": "f3a62edab8dec4a4",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [
            {
                "p": "data",
                "v": "{\"package\":\"NodeRed\",\"className\":\"Person\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "30dcf13fae243745"
            ]
        ]
    },
    {
        "id": "743ee51225cea3f9",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "814d90fcba6b4806",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "011d0c178cecd91e",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "f652d9db8ca9ad69"
            ]
        ]
    },
    {
        "id": "f652d9db8ca9ad69",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make Insert Statement",
        "func": "msg.data = {\n    \"sql\":\"INSERT INTO NodeRed.Person (firstName, lastName, age, isAlive) VALUES (?,?,?,?)\",\n    \"values\":[\n        [\"Kyle\", \"Broflovski\", 10, true],\n        [\"Kenny\", \"McCormick\", 10, true]\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 540,
        "wires": [
            [
                "e8b1d195daf054c9"
            ]
        ]
    },
    {
        "id": "8d1b02995284231e",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "ae428bc93de00b6b",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "0dc8e7573f1a2135",
                "9c28a616be164d64"
            ],
            [
                "8d1b02995284231e"
            ]
        ]
    },
    {
        "id": "0dc8e7573f1a2135",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "fe5206a5e862c580",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Insert Statement",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "32ab4bef36434e8a",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "parameterized Insert Statement",
        "info": "",
        "x": 190,
        "y": 500,
        "wires": []
    },
    {
        "id": "25a20af9b283e860",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Create Class",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ee3989896db577e",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Delete Class",
        "info": "",
        "x": 130,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b695003b3960a11a",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c244dc862c1cfec9",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1100,
        "wires": [
            [
                "e2737e331a0d4bbc"
            ],
            [
                "b695003b3960a11a"
            ]
        ]
    },
    {
        "id": "e2737e331a0d4bbc",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "119db0ad2e0d35f8",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "c1760b65c60e6618"
            ]
        ]
    },
    {
        "id": "c1760b65c60e6618",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make JSON-Object",
        "func": "msg.data = {\n    \"className\":\"NodeRed.Person\",\n    \"firstName\":\"Eric\",\n    \"lastName\":\"Cartman\",\n    \"age\":10,\n    \"isAlive\":true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "a12c4b93a53908b1"
            ]
        ]
    },
    {
        "id": "2e3c923cf3987848",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "442bab4c1f1e8c1e",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "7adaa8dc2b86cc8c",
                "f8fa23351982f9a3"
            ],
            [
                "2e3c923cf3987848"
            ]
        ]
    },
    {
        "id": "7adaa8dc2b86cc8c",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "708773ae6b97b752",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "data",
                "v": "delete from NodeRed.Person",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "3c53ed699ff376ee"
            ]
        ]
    },
    {
        "id": "4896c534067ea8dc",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 980,
        "wires": []
    },
    {
        "id": "9a1ef75296910431",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "68f73625b9fb4425",
                "5b409eac73b418d8"
            ],
            [
                "4896c534067ea8dc"
            ]
        ]
    },
    {
        "id": "68f73625b9fb4425",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "9b040c22c09cf282",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "insert JSON-Object",
        "info": "",
        "x": 150,
        "y": 640,
        "wires": []
    },
    {
        "id": "c1f588ba55129ba3",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "bfc383bba2deade8"
            ]
        ]
    },
    {
        "id": "bfc383bba2deade8",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make Update Statement",
        "func": "msg.data = \"UPDATE NodeRed.Person SET isAlive = 0 WHERE firstName = 'Kenny'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 820,
        "wires": [
            [
                "f4688005536a09a1"
            ]
        ]
    },
    {
        "id": "ac1755b6f6fee89f",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "6b10fec9eae037b9",
        "type": "switch",
        "z": "5c8dac7018c232ae",
        "name": "filter Error",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 820,
        "wires": [
            [
                "bd5c4b5763a2ef90",
                "7ea16c99bd428882"
            ],
            [
                "ac1755b6f6fee89f"
            ]
        ]
    },
    {
        "id": "bd5c4b5763a2ef90",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show successful",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"successful\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "8c6d948e1d679c9a",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Update Statement",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "1577cca82b7fd66d",
        "type": "inject",
        "z": "5c8dac7018c232ae",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "304ed5ef2f39b00b"
            ]
        ]
    },
    {
        "id": "304ed5ef2f39b00b",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make Select Statement",
        "func": "msg.data = \"SELECT firstName, lastName, age, isAlive FROM NodeRed.Person WHERE age = 10\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "0318faf9ec8178b6"
            ]
        ]
    },
    {
        "id": "61082fc6ebb275fb",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Select Statement",
        "info": "",
        "x": 140,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1b85a2678217f898",
        "type": "debug",
        "z": "5c8dac7018c232ae",
        "name": "show Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3c53ed699ff376ee",
        "type": "function",
        "z": "5c8dac7018c232ae",
        "name": "make Delete Statement",
        "func": "msg.data = \"DELETE FROM NodeRed.Person WHERE isAlive = 0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 960,
        "wires": [
            [
                "febdb184551953f4"
            ]
        ]
    },
    {
        "id": "6bfe2026adeea6e7",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Delete Statement",
        "info": "",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "39b3bbd944a4cf7a",
        "type": "comment",
        "z": "5c8dac7018c232ae",
        "name": "Short example on how to create/delete Data/Classes in IRIS via Node-Red",
        "info": "",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "819fa4a6342a1bfc",
        "type": "link in",
        "z": "5c8dac7018c232ae",
        "name": "Show Result IN",
        "links": [
            "2ca3aaf94f91765b",
            "9c28a616be164d64",
            "f8fa23351982f9a3",
            "7ea16c99bd428882",
            "5b409eac73b418d8"
        ],
        "x": 145,
        "y": 1360,
        "wires": [
            [
                "304ed5ef2f39b00b"
            ]
        ]
    },
    {
        "id": "2ca3aaf94f91765b",
        "type": "link out",
        "z": "5c8dac7018c232ae",
        "name": "",
        "mode": "link",
        "links": [
            "819fa4a6342a1bfc"
        ],
        "x": 825,
        "y": 340,
        "wires": []
    },
    {
        "id": "9c28a616be164d64",
        "type": "link out",
        "z": "5c8dac7018c232ae",
        "name": "",
        "mode": "link",
        "links": [
            "819fa4a6342a1bfc"
        ],
        "x": 815,
        "y": 480,
        "wires": []
    },
    {
        "id": "f8fa23351982f9a3",
        "type": "link out",
        "z": "5c8dac7018c232ae",
        "name": "",
        "mode": "link",
        "links": [
            "819fa4a6342a1bfc"
        ],
        "x": 815,
        "y": 620,
        "wires": []
    },
    {
        "id": "7ea16c99bd428882",
        "type": "link out",
        "z": "5c8dac7018c232ae",
        "name": "",
        "mode": "link",
        "links": [
            "819fa4a6342a1bfc"
        ],
        "x": 815,
        "y": 760,
        "wires": []
    },
    {
        "id": "5b409eac73b418d8",
        "type": "link out",
        "z": "5c8dac7018c232ae",
        "name": "",
        "mode": "link",
        "links": [
            "819fa4a6342a1bfc"
        ],
        "x": 815,
        "y": 900,
        "wires": []
    },
    {
        "id": "30dcf13fae243745",
        "type": "sf:node-red-iris-IRIS-DELETE-CLASS",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "Check Connection": true,
        "x": 510,
        "y": 1100,
        "wires": [
            [
                "c244dc862c1cfec9"
            ]
        ]
    },
    {
        "id": "0318faf9ec8178b6",
        "type": "sf:node-red-iris-IRIS",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "1b85a2678217f898"
            ]
        ]
    },
    {
        "id": "febdb184551953f4",
        "type": "sf:node-red-iris-IRIS",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "9a1ef75296910431"
            ]
        ]
    },
    {
        "id": "f4688005536a09a1",
        "type": "sf:node-red-iris-IRIS",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "6b10fec9eae037b9"
            ]
        ]
    },
    {
        "id": "a12c4b93a53908b1",
        "type": "sf:node-red-iris-IRIS-OO",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "442bab4c1f1e8c1e"
            ]
        ]
    },
    {
        "id": "e8b1d195daf054c9",
        "type": "sf:node-red-iris-IRIS-INSERT",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "Create Class": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "ae428bc93de00b6b"
            ]
        ]
    },
    {
        "id": "6ed2281b9fecf4b7",
        "type": "sf:node-red-iris-IRIS",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "holdConnection": 10,
        "Check Connection": true,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "91b9b8860533f999"
            ]
        ]
    },
    {
        "id": "91acd2a9be6f9665",
        "type": "sf:node-red-iris-IRIS-CREATE",
        "z": "5c8dac7018c232ae",
        "name": "",
        "IP": "localhost",
        "Port": 1972,
        "Namespace": "TRAINING",
        "Username": "_SYSTEM",
        "Password": "sys",
        "Check Connection": true,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "d2051fc5d56f8df3"
            ]
        ]
    }
]